@font-face {
    font-family: Ubuntu;
    src: url(../fonts/ubuntu/Ubuntu-Regular.ttf);
    font-weight: 400;

    font-family: ubuntu;
    src: url(../fonts/ubuntu/Ubuntu-Light.ttf);
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/site_wallpaper/wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-y;

    color: #f0acac;
    font-family: Ubuntu;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    letter-spacing: 5px;
    text-align: center;
}

#back_black_screen {
    position: fixed;
    width: 200%;
    height: 200%;

    rotate: -45deg;

    filter: blur(100px);

    background-color: #000000aa;
    z-index: -1;
}

div.interface {
    width: 100vw;
    height: 100vh;
}

div.header {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
}

div.header span#right {
    align-self: flex-end;
}

img#logo_image {
    width: 200px;
}

div.content {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation {

    width: 100%;
    text-align: center;

    font-size: 16pt;
    font-weight: bolder;

    padding-right: 25px;
}

div.header .social {
    width: 100vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.header .social div{
    position: relative;
    background-color: #fffafa;
    border: 0;

    width: 120px;
    height: 32px;

    border-radius: 5px;

    margin: 5px 10px 0 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 9pt;
    font-weight: 200;
}

/* logo */
#instagram, #whatsapp {
    width: 18px;
    aspect-ratio: 1;

    background-size: cover;
}

#instagram {
    background-image: url('../imagens/icons/instagram-32.png');
}

#whatsapp {
    background-image: url('../imagens/icons/whatsapp-32.png');
}

@media screen and (max-width: 600px) {
    div.interface {
        height: 140vh;
    }
 
    #back_black_screen {
        height: 100%;
    }

    #presentation {
        font-size: 12pt;
        padding-right: 10px;
    }
}