.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 20px 0;
}

.product__item {
    position: relative;
    width: 15vw;
    height: 60vh;

    transform: rotate(4deg);

    display: flex;
    align-items: center;

    box-shadow: 0 0 15px 3px #000000a4;

    margin: -5px;

    overflow: hidden;
}
.product__item__img {
    position: absolute;
    
    width: 100%;
    height: 100%;

    transition: all 0.2s ease-in-out;
}.product__item__img:hover {
    position: absolute;
    scale: 1.3;
}

@media screen and (max-width: 600px) {
    .product__item {
        width: 48vw;
        height: 300px;
        transform: rotate(0);
    }

    .product__item__img:hover {
        scale: 1.4;
        rotate: 25deg;
    }
}